* {
   outline: 0;
}

a {
    @extend .transition-all;
    
    &:hover {
        text-decoration: none;
    }
}

.transition-all {
    transition: all 0.5s ease;
}

.hyphenate {
    /*-ms-word-break: break-all;*/
    /*word-break: break-all;*/

    // Non standard for webkit
    /*word-break: break-word;*/
    
    hyphens: auto;
}