*, 
*:hover, 
*:focus, 
*:active {
    outline: 0 !important; // sass-lint:disable-line no-important
}

.btn {
    &.btn-primary {
        color: $white;

        &:active,
        &:focus-visible,
        &:hover {
            color: $white;
        }
    }
}

.transition-all {
    @include transition(.5s ease)
}

.hyphenate {
    //-ms-word-break: break-all;
    //word-break: break-all;

    // Non standard for webkit
    //word-break: break-word;
    
    hyphens: auto;
}
